/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .one{
        background-image: none !important;
        background-color: #F3F3F3;
        // width: 100vw;
        // background-size: cover;
        // background-position: center;
        nav{
            margin: 0!important;
            padding: 0!important;
            display: inline !important;
            
                // display: flex;
                .navHead{
                    font-size: 40px!important;
                    padding-top: 0!important;
                    padding-right: 100px;
                    display: inline !important;
                }
                    .navMain{
                        display: none!important;
                    }
                    .navEnd{
                       font-size: 30px!important;
                       padding-top: 0!important;
                       display: flex;
                       .respnavEndicon{
                        display: flex!important;
                        font-size: 40px!important;
                        svg{
                            padding-right: 40px;
                        }
                       }
                    }
            
            .respnavMain{
                display: block!important;
                .respnavMainelement{
                    display: flex!important;
                    justify-content: center !important;
                    align-items: center !important;
                    flex-direction: column !important;
                    .respnavtext{
                        font-size: 50px;
                        padding-top: 50px;
                    }
                }
            }
        }
        header{
            background-color: #F3F3F3 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0!important;
            padding-top: 200px!important;
            .headerText{
                padding: 0 !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .headertext{
                    font-size: 50px !important;
                }
                .additiontext{
                    font-size: 30px!important;
                    padding: 0px 130px 0px 130px;
                }
                .headbtn{
                    display: flex;
                    flex-direction: column;
                    .btn1space{
                        padding-bottom: 20px;
                    }
                }
            }
        }

        .headcontainer{
            padding-top: 200px !important;
            background-color: #F3F3F3 !important;
            .headcontaineritem{
                flex-direction: column;
                .headcard{
                    width: cover;
                    padding-right: 20px;
                    padding-top: 30px;
                }
            }
        }
    }
    .two{
        .twomain{
            padding-top: 1800px !important;
            .twocontainer{
                .twocontaineritem{
                    flex-wrap: wrap !important;
                    display: flex !important;
                    flex-direction: column !important;
                    align-items: center !important;
                    justify-content: center !important;
                    .card{
                        width: 100vw;
                        padding-right: 100px;
                        padding-left: 100px;
                        padding-bottom: 50px !important;
                    }
                }
            }
        }
    }
}