section.aftericons{
    
    .mainicons{
        padding-top: 150px;
        
        .iconitems{
            display: flex;
            text-align: center;
            justify-content: center;
            padding-bottom: 100px;
            .mainiconsIcon{
                padding-left: 130px;
            }
        }
    }

}